%btn {
    display: inline-block;
    height: $form-height;
    line-height: $form-height;
    text-align: center;
    padding: 0 10px;
    font-size: $body-font-size;
    white-space: nowrap;
    &:hover, &:focus {
        outline: none;
        opacity: .8;
        cursor: pointer;
    }
}
.btn {
    @extend %btn;
}
.btn--primary {
    background-color: $primary;
    color: text-contract($primary);
}
.btn--success {
    background-color: $success;
    color: text-contract($success);
}
.btn--danger {
    background-color: $danger;
    color: text-contract($danger);
}
.btn--warning {
    background-color: $warning;
    color: text-contract($warning);
}
.btn--info {
    background-color: $info;
    color: text-contract($info);
}
.btn--sm {
    font-size: 0.8em;
    height: $form-height - 10px;
    line-height: $form-height - 10px;
}
.btn--block {
    width: 100%;
    display: block;
}
.btn.btn-only-icon {
    width: $form-height;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn-group {
    display: inline-flex;
    .icon {
        background-color: rgba(black,.1);
        padding: 0 10px;
    }
    .btn {
        padding: 0 10px;
    }
}